@model Proiect.Models.Recenzie

@{
    ViewBag.Title = "Edit";

}

<h2>Edit</h2>


<form method="post" action="/Recenzie/Update">
    @Html.LabelFor(m => m.Descriere)
    <br />
    @Html.TextBoxFor(m => m.Descriere)
    @Html.ValidationMessageFor(m => m.Descriere)
    <br />
    @Html.LabelFor(m => m.Rating)
    <br />
    @Html.TextBoxFor(m => m.Rating)
    @Html.ValidationMessageFor(m => m.Rating)
    <br />
    <input type="hidden" name="RecenzieId" value="@Model.RecenzieId" />
    <br />
    <button type="submit" class="btn btn-dark" style="background-color:rgb(33, 33, 33);"><p style="color:white; margin-bottom:-1px;">Salveaza modificarile</p></button>
    <br />
</form>
<form method="post" action="/Recenzie/Delete/@Model.RecenzieId">
    <button type="submit" class="btn btn-dark" style="background-color:rgb(33, 33, 33);"><p style="color:white; margin-bottom:-1px;">Sterge aceasta recenzie</p></button>
    <br />
</form>