@model Proiect.Models.Produs


@{
    ViewBag.Title = "Edit";
    string textRecenzie = " foarte bun";
    var produs = ViewBag.Produs;
}

<h2>Editeaza date despre acest produs</h2>


<form method="post" action="/Produs/Update">
    @Html.LabelFor(m => m.Denumire)
    <br />
    @Html.TextBoxFor(m => m.Denumire, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Denumire)
    <br />
    @Html.LabelFor(m => m.Pret)
    <br />
    @Html.TextBoxFor(m => m.Pret, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Pret)
    <input type="hidden" name="ProdusId" value="@Model.ProdusId" />
    <br />
    <button type="submit" class="btn btn-dark" style="background-color:rgb(88, 88, 88);"><p style="color:white; margin-bottom:-1px;">Salveaza modificarile</p></button>

</form>
<br />
<form method="post" action="/Produs/Delete/@Model.ProdusId">
     <button type="submit" class="btn btn-dark" style="background-color:rgb(55, 55, 55);"><p style="color:white; margin-bottom:-1px;">Sterge acest produs</p></button>
</form>
